@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* Header */
#particles-container {
  width: 100vw;
  height: 100vh;
  background-color: #151616;
  position: relative;
}

#home {
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  color: #ffffff;
  background-color: transparent;
  top: 0;
}

.container {
  margin: auto;
  display: flex;
  max-width: 960px;
}

.nav-links {
  width: 100%;
  margin: auto;
  justify-content: right;
}

.links {
  position: fixed;
  padding: 20px;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
  font-weight: bold;
  border-bottom: 5px solid transparent;
  transition: 0.5s;
  font-size: 20px;
}

.links a:hover{
  border-bottom: 5px solid rgb(95, 163, 227);
}

.apresentation {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color:transparent;
  justify-content: center;
}

.text {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 2px;
  user-select: none;
  pointer-events: none;
  font-weight: bold;
  margin: 15px;
}

.highlight {
  color: rgb(95, 163, 227);
  font-weight: bold
}

section {
  background-color: #d5d5d5;
}

/* About */
#about {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.container-cube{
  width: 50px;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.title-bar {
  margin-top: 10px;
  width: 130px;
  height: 4px;
  background-color: rgb(95, 163, 227);
  border-radius: 5px;
}

.title h2 {
  font-size: 30px;
  letter-spacing: 3px;
}

.description-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  0px 40px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
}

/* Skilss */
#skill {
  background-color:#314C64;
  padding-bottom: 80px;
}

.skills {
  display: flex;
  flex-direction: column;
}

.grid-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  align-items: center;
}
.card-skill{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 250px;
  box-shadow: 0px 4px 40px rgba(236, 236, 231, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
}
.icons {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 20px;
  width: 190px;
  padding: 5px;
}
.title-skill {
  font-size: 25;
  font-weight: bold;
  margin: 20px 0px 10px 20px;
}
img {
  width: 30px;
  margin-right: 5px;
}

/* Projects */

#projects {
  display: block;
}

.grid-projects {
  display: flex;
  flex-direction: column;
}
.cards-projects {
  display: flex;
  justify-content: left;
  align-items: center;
  width: auto;
  margin-bottom: 50px;
}

.all-projects {
  display: flex;
}

.card-rigth {
  justify-content: right;
}

.img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #513434;
  width: 500px;
  height: 500px;
  transition: 0.5s;
  border-radius: 10px;
}
.img-rigth {
  justify-content: right;
}

.img-container:hover {
  cursor: pointer;
  transform: scale(0.95);
}
.img-project {
  width: 400px;
  height: 350px;
}

.text-project {
  position: absolute;
  margin-left: 450px;
  display: flex;
  flex-direction: column;
  color: #f7f7f6;
  width: auto;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.text-rigth {
  margin-left: 0px;
  margin-right: 450px;
}

.title-project {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.description-project {
  font-size: 20px;
}

.icons-project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  width: 200px;
  border-bottom: 3px solid #ffffff;
}

.link-project {
  display: flex;
  margin-top: 30px;
}

.link-project a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

/* buttons */
.btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0,172,238);
background: #314C64;
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}



@media (max-width:1000px){
  .text {
    font-size: 40px;
  }

  .img-container {
    width: 400px;
    height: 400px;
    margin: 0px 10px;
  }
  .img-project {
    width: 350px;
    height: 350px;
  }
  .text-project {
    margin-left: 350px;
    width: 300px;
  }
  .text-rigth {
    margin-right: 350px;
  }
  .link-project {
    flex-direction: column;
  }
}

@media (max-width:700px){
  .text {
    font-size: 40px;
  }
  .cards-projects {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 250px;
  }
  .text-project {
    margin: 450px 50px 0px 50px;
    width: auto;
  }
}
