@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* Header */
#particles-container {
  width: 100vw;
  height: 100vh;
  background-color: #151616;
  position: relative;
}

#home {
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  color: #ffffff;
  background-color: transparent;
  top: 0;
}

.container {
  margin: auto;
  display: flex;
  max-width: 960px;
}

.nav-links {
  width: 100%;
  margin: auto;
  justify-content: right;
}

.links {
  position: fixed;
  padding: 20px;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
  font-weight: bold;
  border-bottom: 5px solid transparent;
  transition: 0.5s;
  font-size: 20px;
}

.links a:hover{
  border-bottom: 5px solid rgb(95, 163, 227);
}

.apresentation {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color:transparent;
  justify-content: center;
}

.text {
  font-size: 45px;
  line-height: 45px;
  user-select: none;
  pointer-events: none;
  font-weight: bold;
}

.highlight {
  color: rgb(95, 163, 227);
  font-weight: bold
}

section {
  background-color: #ffffff;
}

/* About */
#about {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.title-bar {
  margin-top: 10px;
  width: 130px;
  height: 4px;
  background-color: rgb(95, 163, 227);
  border-radius: 5px;
}

.title h2 {
  font-size: 30px;
  letter-spacing: 3px;
}

.description-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  0px 40px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
}

/* Skilss */
#skill {
  background-color:#314C64;
  padding-bottom: 80px;
}

.skills {
  display: flex;
  flex-direction: column;
}

.grid-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  align-items: center;
}
.card-skill{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 250px;
  border: 0.5px solid rgb(95, 163, 227);;
  box-shadow: 0px 4px 40px rgba(78, 7, 7, 0.15);
  border-radius: 5px;
  background-color: #ffffff;
}
.icons {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 20px;
  width: 190px;
  padding: 5px;
}
.title-skill {
  font-size: 25;
  font-weight: bold;
  margin: 20px 0px 10px 20px;
}
img {
  width: 30px;
  margin-right: 5px;
}

/* Projects */

#projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

